<!DOCTYPE html>
<html>
  <head>
    <title>Zenbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "zenbook/application", media: "all" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="reading-container">
      <div class="reading-header">
        <div class="reading-header-inner">
          <div class="flex-align-center">
            <%= link_to '#', class: "toc-button", data: {controller: "toc", action: "click->toc#toggle"} do %>
              <i class="material-icons">menu</i>
            <% end %>
          </div>
          <div>
            <h1 class="center-text"><%= @page.book.title %></h1>
          </div>
          <div class="flex-align-center">
            <%= link_to read_books_path do %><i class="material-icons">close</i><% end %>
          </div>
        </div>
      </div>
      <div class="toc-dropdown">
        <div id="toc">
          toc
        </div>
      </div>
      <div class="reading-content">
        <%= yield %>
      </div>
      <div class="reading-footer">
        <div class="reading-footer-inner">
          <div>
            <%= link_to "« Previous", read_page_path(@page.book.pages[@page.book.pages.find_index(@page) - 1]), class: "footer-link" unless @page.book.pages.first == @page %>
          </div>
          <div>
            Page <%= @page.book.pages.find_index(@page) + 1 %> of <%= @page.book.pages.count %>
          </div>
          <div>
            <%= link_to "Next »", read_page_path(@page.book.pages[@page.book.pages.find_index(@page) + 1]), class: "footer-link" unless @page.book.pages.last == @page %>
          </div>          
        </div>
      </div>
    </div>
    <!-- <%= javascript_include_tag "zenbook/application" %> -->
  </body>
</html>
