<div class="flex-left top-space-1 bottom-space-1">
  <div>
    <%= link_to zenbook.books_path, class: 'grey-button' do %>
      &larr; All books
    <% end %>
  </div>
</div>
<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="material-textbox">
    <%= form.text_field :title, placeholder: " " %>
    <%= form.label :title %>
  </div>

  <div class="material-textbox">
    <%= form.text_area :description, placeholder: " " %>
    <%= form.label :description %>
  </div>

  <div class="field bottom-space-1">
    <%= form.label :state %>
    <%= form.select :state, options_for_select(Zenbook::Book.states.map { |key, value| [key.humanize, key] }, form.object.state) %>
  </div>


  <div class="actions">
    <%= form.submit "Save", class: 'material-button background-blue' %>
  </div>
<% end %>