<div class="bottom-space-1 top-space-1 flex-left flex-align-center">
  <div>
    <%= link_to books_path, class: 'grey-button' do %>
      &larr; Back
    <% end %>
  </div>
  <div>
    <%= link_to 'Edit', edit_book_path(@book), class: 'grey-button' %>
  </div>
  <div>
    <%= link_to 'Preview book', preview_pdf_book_path(@book), class: 'grey-button' %>
  </div>
  <div>
    <%= button_to "Add page", book_pages_path(@book), method: :post, class: 'material-button background-blue' %>
  </div>
  <div>
    <%= button_to "Publish to pdf", publish_book_path(@book), method: :post, class: 'material-button background-blue' %>
  </div>
</div>

<div>
  <p style="color: green"><%= notice %></p>
</div>

<div class="bottom-space-1">
  <h1 class="l4-header"><%= @book.title %></h1>
</div>

<div class="bottom-space-2">
  <%= @book.description %>
</div>

<% if @book.pdf_book.present? %>
  <div class="bottom-space-1">
    Published at <%= @book.published_at.strftime("%b %d, %Y") if @book.published_at.present? %>
    <%= link_to 'Download', main_app.url_for(@book.pdf_book), class: 'grey-button' %>
  </div>
<% end %>

<% unless @book.pages.empty? %>
  <h2 class="list-item-heading bottom-space-1">Pages</h2>

  <% @book.pages.sorted.each do |page| %>
    <div>
      <div class="border-top-light top-space-point-5 bottom-space-point-5">
        <div class="flex-left">
          <div>
            <% if page.draft? %>
              <h3 class="l5-header"><%= link_to page.title, edit_page_path(page) %></h3>
            <% else %>
              <div class="flex-left flex-align-center" >
                <h3 class="list-item-heading"><%= link_to page.title, read_page_path(page) %></h3>
                <%= link_to edit_page_path(page) do %>
                  <span class="material-symbols-outlined flex-align-center">
                    edit_square
                  </span>
                <% end %>                
              </div>

            <% end %> 
          </div>
        </div>
        <div>
          <div>
            <% if page.draft? %>
              <p class="meta-text">Last edited on <%= page.updated_at.strftime("%b %d, %Y") %></p>
            <% else %>
              <p class="meta-text">Published on <%= page.updated_at.strftime("%b %d, %Y") %></p>
            <% end %>
          </div>
        </div>       
      </div>
    </div>

  <% end %>
<% else %>
  <p>No pages added yet.</p> 
<% end %>

